@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body {
  background-color: #f4eeff;
}

img {
  border-radius: 30px;
  background: #BADA55;
}
#btn {
  transition: ease all 1s;
  background-color: #543864;
  padding: 10px 30px;
  color: white;
  border-radius: 50px 5px 50px 5px;
  text-decoration: none;
  width: 100;
  font-size: 8px;

}
#btn:hover {
  color: #649d66;
  opacity: .5;
  border-radius: 5px 50px 5px 50px;
}

.container {
  text-align: center;
  background-color: white;
  border: 3px solid white;
  padding: 15px;
  width: 600px;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(211, 161, 153, 0.3);
}
/*#fff3e5f*/
.header {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 40px;
}

h2, h1 {
  color: #649d66;
  font-family: 'Product Sans', sans-serif;
}
/*font-family: 'Amiri', serif;
font-family: 'Work Sans', sans-serif;*/
p, a {
  color: rgba(0, 0, 0, 0.7);
   font-family: 'Roboto Mono', sans-serif;
}
i {

  font-size: 20px;
  color: #543864;
}

i:hover {
opacity: .5;
}

.list-inline {
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
/*f1d1d1*/
